* {
  font-family: 'Roboto', sans-serif;
}
.login-button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }

  transition: all 0.25s ease;
}
