* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100%;
}

.container {
    display: block;
    height: 100vh;
    background-image: url("../Images/background5.png");
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;

}

.logo-container{ 
    height: 20px;
    width: 20px;
    background-color: rebeccapurple;
}

.tagline {
    display: block;
    padding: 2em;
}

.name {
    font-size: 10vw;
    font-weight: bold;
}

.slogan {
    font-size: 2.3vw;
}

.login-container {
    display: flex;
    margin: auto;
    height: 30vh;
    width: 100vw;
    justify-content: center;
    align-items: flex-end;
}

.sign-in-container{
    /* height: 30%; */
    font-weight: bold;
    font-size: 1.75em;
}

.login-body {
    display: block;
    height: 100%;
    background-image: url("../Images/loginbackground1.jpeg")
}

.utorid-field {
    display: flex;
    align-items: center;
    justify-content: start;
    /* height: 100vh; */
}

.description {
    padding: 2em;
    padding-right: 30vw;
}

.spacer {
    height: 40vh;
}

.gap {
    height: 5vh;
}

.small-gap {
    height: 2vh;
}

.mid-gap {
    height: 10vh;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #1E3765;
    color: white;
    height: 50px;
}

.spacer-login {
    height: 40vh;
}

/* .submit-button {
    margin-top: 20px;
} */

.password-field {
    border-radius: 25px;
    width: 300px;
}

.username-field {
    border-radius: 25px;
    width: 300px;
}

.posting-listing-text {
    font-size: 2em;
    font-weight: bold;
}

.item-name-field {
    border-radius: 25px;
    width: 300px;
}

.building-name-field {
    /* margin-top: 20px; */
    border-radius: 25px;
    width: 300px;
}

.caption-field {
    border-radius: 15px;
    height: 60px;
    width: 300px;
}