* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;

}

.logo-container{ 
    height: 20px;
    width: 20px;
    background-color: rebeccapurple;
}

.tagline {
    display: block;
    padding: 2em;
}

.name {
    font-size: 10vw;
    font-weight: bold;
}

.slogan {
    font-size: 2vw;
}

.login-container {
    display: flex;
    margin: auto;
    height: 30vh;
    width: 100vw;
    justify-content: center;
    align-items: flex-end;
}

.sign-in-container{
    /* height: 30%; */
    font-weight: bold;
    font-size: 1.5em;
}

.login-body {
    display: block;
}

.utorid-field {
    display: flex;
    align-items: center;
    justify-content: start;
}